* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body * {
  outline: 1px solid pink;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.main-image-container {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 100%;
}

.thumbs {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
}

.thumb {
  width: 85%;
  padding: 7px;
}

/* animation */

.fade-in {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
